[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
aenum = "==2.2.6"
geopy = "*"
nominatim = "*"
haversine = "*"
osmnx = "*"
googlemaps = "*"
polyline = "*"

[dev-packages]

[requires]
python_version = "3.11"
