<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirLineFlight</title>
</head>
<h4>Warning for pilots: Dear pilot {{ user.username }}. This panel shows an example of an aircraft
    control panel. If certain unsafe air travel conditions occur, the aircraft control safety system
    will lock the buttons below as well as the data entry fields to ensure safe air travel, do not
    attempt to manually adjust the route and bypass the air travel safety control system, this will
    be considered an unauthorized attempt to take control of the aircraft. To ensure safe air travel,
    your aircraft along your specified route will be adjusted to one of your predetermined arrival
    points based on the closest distance and taking into account the safest possible air travel.
    The algorithm for calculating the safest and shortest route will adjust your route independently!
    You will be notified in the itinerary information below and all air travel changes will be entered
    into the air travel registry database! We wish you a successful flight and good weather!</h4>
<body>
<form action="airlineflight" method="post">
    {% csrf_token %}
    <label for="email">Your email@:</label>
    <input type="text" name="email" placeholder="Your email"><br>
    <label for="address">Your residential address:</label>
    <input type="text" name="address" placeholder="Your residential address"><br>
    <label for="flight_number">Number the flight:</label>
    <input type="text" name="flight_number" placeholder="Number the flight"><br>
    <label for="departure_point">Departure Point:</label><br>
    <select id="departure_point" name="departure_point">
      <option value="International Airport Toronto (YYZ)">International Airport Toronto (YYZ)</option>
      <option value="Montreal/Pierre Elliott Trudeau International Airport (YUL)">Montreal/Pierre Elliott Trudeau International Airport (YUL)</option>
        <option value="Vancouver International Airport (YVR)">Vancouver International Airport (YVR)</option>
      <option value="Calgary International Airport (YYC)">Calgary International Airport (YYC)</option>
      <option value="Edmonton International Airport (YEG)">Edmonton International Airport (YEG)</option>
      <option value="Halifax International Airport (YHZ)">Halifax International Airport (YHZ)</option>
      <option value="Ottawa International Airport (YOW)">Ottawa International Airport (YOW)</option>
      <option value="Quebec Jean Lesage International Airport (YQB)">Quebec Jean Lesage International Airport (YQB)</option>
      <option value="Winnipeg/James Armstrong Richardson Winnipeg International Airport (YWG)">Winnipeg/James Armstrong Richardson Winnipeg International Airport (YWG)</option>
      <option value="Greater Moncton International Airport (YQM)">Greater Moncton International Airport (YQM)</option>
      <option value="Thunder Bay Airport (YQT)">Thunder Bay Airport (YQT)</option>
      <option value="Victoria International Airport (YYJ)">Victoria International Airport (YYJ)</option>
      <option value="Fort McMurray Airport (YMM)">Fort McMurray Airport (YMM)</option>
      <option value="Timmins/Victor M. Power (YTS)">Timmins/Victor M. Power (YTS)</option>
      <option value="Saskatoon International Airport (YXE)">Saskatoon International Airport (YXE)</option>
      <option value="Kamloops: Kamloops Airport (YKA)">Kamloops: Kamloops Airport (YKA)</option>
      <option value="Waterloo Airport Kitchener (YKF)">Waterloo Airport Kitchener (YKF)</option>
      <option value="Windsor Airport (YQG)">Windsor Airport (YQG)</option>
      <option value="Vancouver Boundary Bay Airport (YDT)">Vancouver Boundary Bay Airport (YDT)</option>
      <option value="Toronto Island Airport (CTM4)">Toronto Island Airport (CTM4)</option>
      <option value="Vancouver Cole Airport (CA-0664)">Vancouver Cole Airport (CA-0664)</option>
    </select><br>
    <label for="arrival_point">Arrival Point:</label><br>
    <select id="arrival_point" name="arrival_point">
      <option value="International Airport Toronto (YYZ)">International Airport Toronto (YYZ)</option>
      <option value="Montreal/Pierre Elliott Trudeau International Airport (YUL)">Montreal/Pierre Elliott Trudeau International Airport (YUL)</option>
        <option value="Vancouver International Airport (YVR)">Vancouver International Airport (YVR)</option>
      <option value="Calgary International Airport (YYC)">Calgary International Airport (YYC)</option>
      <option value="Edmonton International Airport (YEG)">Edmonton International Airport (YEG)</option>
      <option value="Halifax International Airport (YHZ)">Halifax International Airport (YHZ)</option>
      <option value="Ottawa International Airport (YOW)">Ottawa International Airport (YOW)</option>
      <option value="Quebec Jean Lesage International Airport (YQB)">Quebec Jean Lesage International Airport (YQB)</option>
      <option value="Winnipeg/James Armstrong Richardson Winnipeg International Airport (YWG)">Winnipeg/James Armstrong Richardson Winnipeg International Airport (YWG)</option>
      <option value="Greater Moncton International Airport (YQM)">Greater Moncton International Airport (YQM)</option>
      <option value="Thunder Bay Airport (YQT)">Thunder Bay Airport (YQT)</option>
      <option value="Victoria International Airport (YYJ)">Victoria International Airport (YYJ)</option>
      <option value="Fort McMurray Airport (YMM)">Fort McMurray Airport (YMM)</option>
      <option value="Timmins/Victor M. Power (YTS)">Timmins/Victor M. Power (YTS)</option>
      <option value="Saskatoon International Airport (YXE)">Saskatoon International Airport (YXE)</option>
      <option value="Kamloops: Kamloops Airport (YKA)">Kamloops: Kamloops Airport (YKA)</option>
      <option value="Waterloo Airport Kitchener (YKF)">Waterloo Airport Kitchener (YKF)</option>
      <option value="Windsor Airport (YQG)">Windsor Airport (YQG)</option>
      <option value="Vancouver Boundary Bay Airport (YDT)">Vancouver Boundary Bay Airport (YDT)</option>
      <option value="Toronto Island Airport (CTM4)">Toronto Island Airport (CTM4)</option>
      <option value="Vancouver Cole Airport (CA-0664)">Vancouver Cole Airport (CA-0664)</option>
    </select><br>
    <label for="departure_date">Departure date and time:</label>
    <input type="date" id="departure_date" name="departure_date">
    <input type="time" name="departure_time" placeholder="Departure time"><br>
    <label for="arrival_date">Arrival date:</label>
    <input type="date" id="arrival_date" name="arrival_date"><br>
    <label for="number_of_passengers">Number of passengers:</label>
    <input type="text" name="number_of_passengers" placeholder="Number of passengers"><button type="submit" style="background-color:MediumSeaGreen;">CREATE ROUT</button>
    {% for item in airlineflight_res %}
        <p>
            <h4>Flight description:</h4>
            ID the flight in database: {{ item.id }};<br>
            Flight registration date: {{ item.departure_date }};<br>
            Flight number: {{ item.flight_number }};<br>
            Pilot: {{ user.username }};<br>
            Airline operating the flight: {{ item.aircompany }};<br>
            Route: {{ item.airflight_route }};<br>
            Departure point: {{ item.departure_point }};<br>
            Departure point weather: {{ item.departure_point_weather }};<br>
            Arrival point: {{ item.arrival_point }};<br>
            Arrival point weather: {{ item.arrival_point_weather }};<br>
            Distance: {{ item.distance_km }} km;<br>
            Flight time: {{ item.flight_time }} hours/min;<br>
            Departure date: {{ item.departure_date }};<br>
            Departure time: {{ item.departure_time }} hours/min;<br>
            Arrival date: {{ item.arrival_date }};<br>
            Numbers of passenger: {{ item.number_of_passengers }};<br>
            Flight condition: {{ item.flight_condition }};<br>
            Reason for correction: {{ item.reason_of_correction }};<br>
        </p>
    {% endfor %}
</form>
<br>
<h4>Message to the pilot: Dear pilot {{user.username }}, to send a request for manual control and
    independent adjustment of the flight route, as well as for successful approval of the application
    by the dispatcher, you need to fill out the form below. But be careful, this request also includes
    and activates the algorithm for safely adjusting the air route to the new destinations you have
    specified.</h4>
<form action="manualcontrolrequest" method="post">
    {% csrf_token %}
    <label for="access_code">Manual Control Request:</label>
    <input type="text" name="access_code" placeholder="Enter access code"><br>
    <label for="changed_arrival_point">Changed Arrival Point:</label>
    <input type="text" name="changed_arrival_point" placeholder="Enter new Arrival Point"><br>
    <label for="reason_for_route_correction">Reason for correction:</label>
    <input type="text" name="reason_for_route_correction" placeholder="Enter reason for correction"><br>
    <label for="confirm_the_request">Confirm the request:</label>
    <input type="text" name="confirm_the_request" placeholder="Enter password"><button type="submit" style="background-color:DodgerBlue;">SEND REQUEST</button>
    {% for item in airlineflight_res_v1 %}
        <p>
            <h4>Flight description:</h4>
            ID the flight in database: {{ item.id }};<br>
            Flight registration date: {{ item.departure_date }};<br>
            Flight number: {{ item.flight_number }};<br>
            Pilot: {{ user.username }};<br>
            Airline operating the flight: {{ item.aircompany }};<br>
            Route: {{ item.airflight_route }};<br>
            Departure point: {{ item.departure_point }};<br>
            Departure point weather: {{ item.departure_point_weather }};<br>
            Arrival point: {{ item.arrival_point }};<br>
            Arrival point weather: {{ item.arrival_point_weather }};<br>
            Distance: {{ item.distance_km }} km;<br>
            Flight time: {{ item.flight_time }} hours/min;<br>
            Departure date: {{ item.departure_date }};<br>
            Departure time: {{ item.departure_time }} hours/min;<br>
            Arrival date: {{ item.arrival_date }};<br>
            Numbers of passenger: {{ item.number_of_passengers }};<br>
            Flight condition: {{ item.flight_condition }};<br>
            Reason for correction: {{ item.reason_of_correction }};<br>
        </p>
    {% endfor %}
    <br>
    {% for item in airlineflight_res_error %}
        <p>
        <h4>Warning to Pilot: Dear Pilot {{ user.username }}, Your request for manual control has
        not been approved by the airport controller.
        <br>
        Reason for rejecting this request: You entered an incorrect access code! The system
        recognized this request as an unauthorized attempt to take control of the aircraft.
        <br>
        Dear pilot {{user.username }}, ensuring safe air travel is a PRIORITY!</h4>
        </p>
    {% endfor %}
</form>
<br>
<h4>Warning for pilot: Dear pilot {{ user.username }}, this button will activate the “State of
    Emergency” mode, which in turn will determine your route to your previously specified
    destinations, without the ability to adjust any data about your route. If the situation in
    the aircraft cabin requires such activation, activate this mode without delay, otherwise we
    ask you not to press this button.</h4>
<form action="stateofemergency" method="post">
    {% csrf_token %}
    <button type="submit" style="background-color:Tomato;">STATE OF EMERGENCY</button>
    {% for item in airlineflight_res_v2 %}
        <p>
            <h4>Flight description:</h4>
            ID the flight in database: {{ item.id }};<br>
            Flight registration date: {{ item.departure_date }};<br>
            Flight number: {{ item.flight_number }};<br>
            Pilot: {{ user.username }};<br>
            Airline operating the flight: {{ item.aircompany }};<br>
            Route: {{ item.airflight_route }};<br>
            Departure point: {{ item.departure_point }};<br>
            Departure point weather: {{ item.departure_point_weather }};<br>
            Arrival point: {{ item.arrival_point }};<br>
            Arrival point weather: {{ item.arrival_point_weather }};<br>
            Distance: {{ item.distance_km }} km;<br>
            Flight time: {{ item.flight_time }} hours/min;<br>
            Departure date: {{ item.departure_date }};<br>
            Departure time: {{ item.departure_time }} hours/min;<br>
            Arrival date: {{ item.arrival_date }};<br>
            Numbers of passenger: {{ item.number_of_passengers }};<br>
            Flight condition: {{ item.flight_condition }};<br>
            Reason for correction: {{ item.reason_of_correction }};<br>
        </p>
    {% endfor %}
</form>
</body>
</html>

